/** Archivo de configuraciones generales **/

/**** Fondo general ****/
.myBackground {
  background-color: black;
  font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
}

/**** Botón general ****/
.myButton {
  font-size: 1.6rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #9BF3D0;
  border: #9BF3D0 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 #9BF3D0, 0 0 0.5em 0 #9BF3D0;
  position: relative;
  background-color: transparent;
}

.myButton::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em #9BF3D0;
  opacity: 0;
  background-color: #9BF3D0;
  z-index: -1;
  transition: opacity 100ms linear;
}

.myButton:hover,
.myButton:focus {
  color: rgb(255, 255, 255);
  text-shadow: none;
  background-color: #9BF3D0;
}

.myButton:hover::before,
.myButton:focus::before {
  opacity: 1;
}

.myButton:hover::after,
.myButton:focus::after {
  opacity: 1;
}

/* Input field */
input[type=submit] {
  background-color: transparent;
  color: #9BF3D0;
  border: transparent;
  margin: -0.25em -1em;
  padding: 0.25em 1em;

}

input[type=submit]:hover {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: transparent;
}

/**** Navbar ****/
.myNavbarLink:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.myNavbarLink:visited {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

.myNavbarLink:hover {
  color: #9BF3D0;
  background-color: transparent;
  text-decoration: none;
}

.myNavbarLink:active {
  color: white;
  background-color: transparent;
  text-decoration: blink;
}

/**** Del footer ****/
.myFooterLeft-bg {
  margin-top: -3rem;
  background-color: #4e076f;
  background-image: linear-gradient(45deg, #4e076f 25%, #0539ea 100%);
  border-radius: 0px 25px 0px 0px
}

.myFooterRight-bg {
  background-color: rgb(34, 34, 34);
}

.myLink:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.myLink:visited {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

.myLink:hover {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: underline;
}

.myLinkMedia:hover {
  color: rgb(136, 136, 136);
  background-color: transparent;
  text-decoration: underline;
}

.myLink:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}


/**** Titulos del portafolio ****/
.h3 {
  font-size: 1.5rem;
  font-weight: bold;
}



/* AÑADIR NEON A TEXTO */
.titulo {
  color: #ffff;
  text-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
  /* letter-spacing: 5px; */
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
}

.titulo:hover {
  color: #fff;
  text-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #000000,
    0 0 100px #000000;
}



/* Barra de progreso */
::-webkit-scrollbar {
  width: 0;
}

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, rgba(0, 136, 255, .1), rgba(0, 255, 231, .1));
  animation: animate 5s linear infinite;
}

@keyframes animate {

  0%,
  100% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }
}

#progressbar:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 138, 255, 1), #00ffe7);
  /* animation: animate 5s linear infinite; */
  filter: blur(10px);
}

#progressbar:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  /* animation: animate 5s linear infinite; */
  filter: blur(30px);
}