input[type=text], input[type=tel], input[type=email], textarea {
  width: 100%;
  padding: 12px 5px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgb(48, 48, 48);
  border: solid 2px black;
  color: white;
}