input[type=text], input[type=tel], input[type=email], textarea {
  width: 100%;
  padding: 12px 5px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgb(48, 48, 48);
  border: solid 2px black;
  color: white;
}
input[type=submit] {
  width: 200px;
  padding: 19px 5px;
  margin-bottom: 25px;
  border-radius: 10px;
  background-color: #ff0080;
  border: solid 2px #ff0080;
  color: white;
}
input[type=submit]:hover {
  width: 200px;
  padding: 19px 5px;
  margin-bottom: 25px;
  border-radius: 10px;
  background-color: #ff86c3;
  border: solid 2px #ff0080;
  color: rgb(0, 0, 0);
}