input[type=text],
input[type=tel],
input[type=email],
textarea {
  width: 100%;
  padding: 12px 5px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgb(48, 48, 48);
  border: solid 2px black;
  color: white;
}

/* Input field */
input[type=submit] {
  background-color: transparent;
  color: #9BF3D0;
  border: transparent;
  margin: -0.25em -1em;
  padding: 0.25em 1em;
}
input[type=submit]:hover {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: transparent;
}