#myVideo {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  /* position: fixed; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* z-index: -1; */
}

.pruebaconboton{
  border: transparent;
  background-color: transparent;
  color: white;
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.pruebaconboton:hover{
  border: transparent;
  background-color: transparent;
  color: rgb(255, 238, 0);
}