#myVideo {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.botonVideo{
  border: transparent;
  background-color: transparent;
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 18px;
  bottom: 20px;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
      opacity: 0;
  }
}
.botonVideo:hover{
  border: transparent;
  background-color: transparent;
  color: rgb(255, 0, 242);
}





/* Prueba del nuevo carrucel */
.link2 {
  color: inherit;
  text-decoration: none;
}
.link2:hover {
  color: white;
  text-decoration: none;
}

/* .panels {
  display: flex;
  flex-wrap: nowrap;
  padding: 1.5rem;
} */
.panel {
  flex-shrink: 0;
  height: 33.75rem;
  outline: 0.25rem solid rgba(26, 97, 203, 0);
  transition: 500ms;
  position: relative;
}
/* .panels .panel:not(:last-child) {
  margin-right: 1.5rem;
} */
.panels .panel .background:after,
.panels .panel .text > * {
  transition: transform 200ms, opacity 200ms;
}
.panels .panel .background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 100ms;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.panels .panel .background:before, .panels .panel .background:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.panels .panel .background:before {
  opacity: 0;
}
.panels .panel .background:after {
  opacity: 0.4;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(23, 86, 181, 0.6) 70%, #04152f 100%);
}
.panels .panel .text {
  cursor: default;
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: -2.5rem;
}
.panels .panel .text .location {
  font-weight: 100;
  font-size: 1em;
  margin-bottom: 1rem;
}
.panels .panel .text .myTitle {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.panels .panel .text .author {
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 1em;
}
.panels .panel .text .link1 {
  display: inline-block;
  padding: 0.375rem 0.5rem;
  background: #1a61cb;
  text-align: center;
  opacity: 0;
}
.panels .panel.hover, .panels .panel:hover {
  outline: 0.875rem solid #1a61cb;
  transition: 300ms;
}
.panels .panel.hover .background, .panels .panel:hover .background {
  transition: 125ms;
  top: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  bottom: -0.5rem;
}
.panels .panel.hover .background:after, .panels .panel:hover .background:after {
  opacity: 1;
}
.panels .panel.hover .text > *, .panels .panel:hover .text > * {
  transform: translate3d(0, -3.5rem, 0);
}
.panels .panel.hover .text .location, .panels .panel:hover .text .location {
  transition-delay: 0ms;
}
.panels .panel.hover .text .myTitle, .panels .panel:hover .text .myTitle {
  transition-delay: 60ms;
}
.panels .panel.hover .text .author, .panels .panel:hover .text .author {
  transition-delay: 110ms;
}
.panels .panel.hover .text .link1, .panels .panel:hover .text .link1 {
  opacity: 1;
  transition-delay: 150ms;
}