#myVideo {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  /* position: fixed; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* z-index: -1; */
}

.botonVideo{
  border: transparent;
  background-color: transparent;
  color: white;
  
  position: absolute;

  /* top: 50%; */
  width: 100%;
  text-align: center;
  font-size: 18px;
  bottom: 20px;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
      opacity: 0;
  }
}
.botonVideo:hover{
  border: transparent;
  background-color: transparent;
  color: rgb(255, 0, 242);
}