/* .myButtonLink:link {
  color: #9BF3D0;
  font-weight: bold;
  background-color: transparent;
  
}

.myButtonLink:visited {
  color: #9BF3D0;
  background-color: transparent;
  text-decoration: none;
}

.myButtonLink:hover {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
  transition: 0.4s;
}

.myButtonLink:active {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
} */

.myButtonLink, .myButtonLinkBack {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #9BF3D0;
  border: #9BF3D0 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 #9BF3D0, 0 0 0.5em 0 #9BF3D0;
  position: relative;
  background-color: transparent;
}
.myButtonLinkBack {
  position: fixed;
  bottom: 2%;
  right: 5%;
  cursor: pointer;
  text-decoration: none;
  color: #9BF3D0;
  border: #9BF3D0 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 #9BF3D0, 0 0 0.5em 0 #9BF3D0;
  background-color: transparent;
}
.myButtonLink::before, .myButtonLinkBack::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: #9BF3D0;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}
.myButtonLink::after, .myButtonLinkBack::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em #9BF3D0;
  opacity: 0;
  background-color: #9BF3D0;
  z-index: -1;
  transition: opacity 100ms linear;
}
.myButtonLink:hover,
.myButtonLink:focus,
.myButtonLinkBack:hover,
.myButtonLinkBack:focus {
  color: #ffffff;
  text-shadow: none;
  background-color: #9BF3D0;
}
.myButtonLink:hover::before,
.myButtonLink:focus::before,
.myButtonLinkBack:hover::before,
.myButtonLinkBack:focus::before {
  opacity: 1;
}
.myButtonLink:hover::after,
.myButtonLink:focus::after,
.myButtonLinkBack:hover::after,
.myButtonLinkBack:focus::after {
  opacity: 1;
}

