.myButtonLink:link {
  color: #ff0080;
  font-weight: bold;
  background-color: transparent;
  text-decoration: none;
  position: fixed; 
  bottom: 2%; 
  right: 2%; 
  width: 150px; 
  border: 3px solid #ff0080;
  border-radius: 10px;
}

.myButtonLink:visited {
  color: #ff0080;
  background-color: transparent;
  text-decoration: none;
}

.myButtonLink:hover {
  color: #ffffff;
  border: 3px solid #ffffff;
  background-color: transparent;
  text-decoration: none;
  transition: 0.4s;
}

.myButtonLink:active {
  color: rgb(238, 255, 0);
  border: 3px solid rgb(238, 255, 0);
  background-color: transparent;
  text-decoration: none;
}