.mybody{
  background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 29%, #000000 58%);
}

.myh1 {
  font-size: 5.5rem;
}

.myh2 {
  font-size: 4rem;
}

.myimage1{
  height: 50%;
  width: 50%;
  margin-left: 32rem;
  margin-top: -50rem;
} 
.myimage2{
  height: 750px;
  width: 50%;
  margin-left: 34rem;
  margin-top: -10rem;
}
.myText2{
  height: 600px;
  font-size: 2rem;
  padding-left: 34%;
  padding-top: 25rem;
  margin-top: -40rem;
}

.myMarginFooterLeft{
  margin-top: -3rem;
  background-color: #B721FF;
background-image: linear-gradient(21deg, #B721FF 0%, #2187fd 33%, #2e39bf 71%);
border-radius: 0px 25px 0px 0px
}

.myMarginFooterRight{
  background-color: rgb(34, 34, 34);
}

.myPadding1 {
  padding-top: 10rem;
  padding-left: 8rem;
}

.myLink:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.myLink:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

.myLink:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

.myLink:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.bg-solutions {
  background-color: #6c29aa;
  background-image: linear-gradient(30deg, #6c29aa 20%, #3d48d8 100%);

}
.test{
  background-color: pink;
  height: 200px;
} /* Plantilla temporal de referencias para hacer pruebas. */
